<footer class="footer">
  <div class="footer-container">

    <div class="footer-column">
      <h4 class="footer-column__title">Contacto</h4>
      <p class="footer-column__text">+51 978621899</p>
      <p class="footer-column__text">frank.cary@tecsup.edu.pe</p>
      <p class="footer-column__text">fcaryv@gmail.com</p>
    </div>
    <div class="footer-column">
      <h4 class="footer-column__title">Redes Sociales</h4>
      <ul class="footer-column__text">
        <li class="footer-column__element"><a class="link"
            href="https://www.linkedin.com/in/frank-claudio-cary-viveros-22a79b18b/">Linkedin</a></li>
        <li class="footer-column__element"><a class="link"
            href="https://www.instagram.com/frank_ccv/?hl=es-la">Instagram</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h4 class="footer-column__title">Repositorios</h4>
      <ul class="footer-column__text">
        <li class="footer-column__element"><a class="link" href="https://github.com/franka107?tab=stars">GitHub</a>
        </li>
        <li class="footer-column__element"><a class="link" href="https://gitlab.com/franka107">Gitlab</a></li>
      </ul>
    </div>
  </div>
  <h2 class="footer-title">
    &copy; Frank Design | Todos los derechos reservados
  </h2>
  <h2 class="footer-title footer-title--minimize">
    Icons made by <a class="link" href="https://www.flaticon.com/authors/smashicons" title="Smashicons">Smashicons</a>
    from <a href="https://www.flaticon.com/" class="link" title="Flaticon">www.flaticon.com</a>
  </h2>
</footer>