<header class="header" style="height: 300px;">
  {{>navbar}}
  <div class="header__wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150"
      preserveAspectRatio="none" style="height: 100%; width: 100%;">
      <path d="M0.00,49.98 C228.27,218.58 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
        style="stroke: none; fill: #fff;"></path>
    </svg></div>
</header>