<header class="header">
  {{>navbar}}
  <section class="header__titlescontainer">
    <div class="header__port">
      <img src="./img/perfil.jpg" alt="" class="header__perfil">
    </div>
    <div class="header__texts">
      <h1 class="header__title">Hola, mi nombre es Frank</h1>
      <h2 class="header__subtitle">Bienvenido a mi página web</h2>
    </div>
  </section>
  <div class="header__wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150"
      preserveAspectRatio="none" style="height: 100%; width: 100%;">
      <path d="M0.00,49.98 C228.27,218.58 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
        style="stroke: none; fill: #fff;"></path>
    </svg></div>
</header>