<nav class="main-nav">
  <ul class="main-menu">
    <li class="main-menu__item"><a class="main-menu__link" href="/">Sobre mí</a></li>
    <li class="main-menu__item"><a class="main-menu__link" href="/portfolio">Portafolio</a></li>
    <li class="main-menu__item"><a class="main-menu__link" href="/opinions">Opiniones</a></li>
    <li class="main-menu__item"><a class="main-menu__link" href="/myservices">Mis servicios</a></li>
</nav>