<!DOCTYPE html>
<html lang="en">


{{>head}}

<body>
  {{>header}}

  <main>
    <section class="section" id="aboutme">
      <h2 class="section__title">Sobre mí</h2>
      <div class="section__container">
        <img src="./img/ilustrate1.svg" alt="" class="section__ilustrate">
        <div class="section__texts">
          <h3 class="section__subtitle"><span class="section__number">1</span>Actualmente</h3>
          <p class="section__text">Soy un programador en ruta de aprendizaje. Voy 2 años de estudios en Tecsup y me
            encanta mi carrera, constantemente averiguo sobre las nuevas tecnologias para el desarrollo de aplicaciones
            en diversas plataformas.
            Soy apasionado por todo lo que tenga que ver con JavaScript, uno de los lenguajes de programación con mas
            auge en la actualidad. Aparte de lo ya mencionado tambien me gustar jugar fulbito, bailar y resolver
            puzzles.
          </p>
          <h3 class="section__subtitle"><span class="section__number">2</span>Habilidades</h3>
          <p class="section__text">El mundo de la programación es muy basto y me gustaría aprender todos estos campos,
            sin embargo es importante primero enfocarse a áreas especificas primero y no apuntar a todas de frente.
            Puedes ver mis destrezas mas a detalle <a class="link" href="#">aquí</a></p>
        </div>
      </div>
    </section>
  </main>
  {{>footer}}
</body>


</html>