<!DOCTYPE html>
<html lang="en">

{{>head}}

<body>
  {{>header2}}
  <section class="shadow">
    <div class="section">
      <h3 class="section__title" id="myservices">Mis servicios en general</h3>
      <div class="services">
        <!-- ===================== item =====================================-->
        <div class="services__item">
          <img class="services__image" src="./img/ilustrate2.svg" />
          <h3 class="services__title">Desarrollo Móvil Multiplataforma</h3>
          <p class="services__text">Construcción de aplicaciones moviles hibridas bajo la tecnologia de React-Native,
            una de las mas potentes actualmente y permite la ejecucion su ejecucion en los sistemas operativos Ios y
            Android.</p>
        </div>
        <!-- ===================== item =====================================-->
        <div class="services__item">
          <img class="services__image" src="./img/ilustrate5.svg" />
          <h3 class="services__title">Desarrollo en Internet de las cosas (IoT)</h3>
          <p class="services__text">Elaboración de plataformas que permiten la comunicacion entre varios dispotivos en
            tiempo real. La integración se hace gracias a diversas tecnologias comunicadas en lo que se demonina API.
          </p>
        </div>
        <!-- ===================== item =====================================-->
        <div class="services__item">
          <img class="services__image" src="./img/ilustrate4.svg" />
          <h3 class="services__title">Desarrollo Web</h3>
          <p class="services__text">Composición de aplicaciones web según tus requerimientos apoyándome en tecnologias
            seguras y rápidas como Laravel, Django, Vue.js o React.</p>
        </div>
      </div>
    </div>
  </section>
  {{>footer}}
</body>

</html>