<!DOCTYPE html>
<html lang="en">
{{>head}}

<body>
  {{>header2}}
  <section class="section">
    <h2 class="section__title" id="opinions">Opiniones de algunos compañeros de equipo</h2>
    <div class="card-container">
      <!--======================= card ==============================-->
      <div class="card-container__card">
        <img src="./img/user.png" class="card-container__image" />
        <div class="card-container__texts">
          <h4 class="card-container__title">Emerson P. Q.</h4>
          <p class="card-container__text">Es una persona innovadora, capaz de poder liderar a un equipo, si no sabe un
            tema se pone a investigar hasta que lo logre dominar. En resumen es un buen programador.
          </p>
        </div>
      </div>
      <!--======================= card ==============================-->
      <div class="card-container__card">
        <img class="card-container__image" src="./img/user.png"></img>
        <div class="card-container__texts">
          <h4 class="card-container__title">George P. S.</h4>
          <p class="card-container__text">Brinda ideas que optimizan el trabajo que se le encarga, de manera que deja
            una buena impresión al equipo de trabajo y a los clientes.
          </p>
        </div>
      </div>
    </div>
  </section>
  {{>footer}}
</body>

</html>