<!DOCTYPE html>
<html lang="en">

{{>head}}

<body>
  {{>header2}}
  <section class="section--shadow">
    <div class="section">

      <h2 class="section__title" id="portfolio">Portafolio de algunos proyectos</h2>
      <div class="first-gallery">
        <!--=============================Image=======================-->
        <div class="first-gallery__port">
          <img class="first-gallery__image first-gallery__image--fixed" src="./img/portfolio1.png" alt="">
          <div class="first-gallery__hoverport">
            <img class="first-gallery__hoverimage" src="./img/icono1.png" alt="">
            <p class="first-gallery__text">Cubizz e-commerce</p>
          </div>
        </div>
        <!--=============================Image=======================-->
        <div class="first-gallery__port">
          <img class="first-gallery__image first-gallery__image--fixed" src="./img/portfolio2.JPG" alt="">
          <div class="first-gallery__hoverport">
            <img class="first-gallery__hoverimage" src="./img/icono1.png" alt="">
            <p class="first-gallery__text">Rastreo Satelital GPS Goldcar</p>
          </div>
        </div>
        <!--=============================Image=======================-->
        <div class="first-gallery__port">
          <img class="first-gallery__image first-gallery__image--fixed" src="./img/portfolio3.png" alt="">
          <div class="first-gallery__hoverport">
            <img class="first-gallery__hoverimage" src="./img/icono1.png" alt="">
            <p class="first-gallery__text">Friki zone</p>
          </div>
        </div>
        <!--=============================Image=======================-->
        <div class="first-gallery__port">
          <img class="first-gallery__image " src="./img/portfolio4.jpg" alt="">
          <div class="first-gallery__hoverport">
            <img class="first-gallery__hoverimage" src="./img/icono1.png" alt="">
            <p class="first-gallery__text">Spider IoT</p>
          </div>
        </div>

      </div>
    </div>
  </section>
  {{>footer}}
</body>

</html>